.sidebar{
    padding: 20px;
    background-color: #FFFFFF;
    max-width: 350px;

    @media (max-width: 640px) {
        position: absolute;
        max-width: 250px;
        top: 0;
        bottom: 0;
    }
}
.close-btn{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    display: none;
    @media (max-width: 640px) {
        display: flex;
    }
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-icon{
    background-color: #08443E;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-name{
    color: #08443E;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 23px;
}
.nav-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.link-group{
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding: 6px;
}
.link-group:hover{
    background-color: #E8F1F0;
    border-radius: 4px;
    cursor: pointer;
}
.link-group a{
    text-decoration: none;
    color: #08443E;
}